{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/datatables/css/datatables.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/jquery/js/jquery-3.6.0.min.js') }}"> </script>
    <script src="{{ asset('/datatables/js/datatables.min.js') }}"></script>
    <script src="{{ asset('/datatables/js/moment.min.js') }}"></script>
    <script src="{{ asset('/datatables/js/datetime-moment.js') }}"></script>
{% endblock %}

{% block titrePage %}
    Journal de recherches de stage de {{etudiant.getNomComplet()}}
{% endblock %}

{% block contenu %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex flex-row mb-1 boutonsTable">
					<div class="col-md-12">
						<a href="{{ path('recherche_formulaireAjoutRecherche') }}" >
							<button type="button" class="btn btn-success" id="boutonAjoutRecherche">
								Ajouter une recherche
							</button>
						</a>
					</div>
                </div>

                <table id="dataTable" class="table table-bordered display">
                     <thead class="thead">
                        <tr>
                            <th scope="col">
                                Date d'ajout
                            </th>
                            <th scope="col">
                                Nom de l'entreprise
                            </th>
                            <th scope="col">
                                Adresse de l'entreprise
                            </th>
                            <th scope="col">
                                Nom du contact
                            </th >
                            <th scope="col">
                                Fonction du contact
                            </th>
                            <th scope="col">
                                Média utilisé
                            </th>
                            <th scope="col">
                                Mail de l'entreprise
                            </th>
                            <th scope="col">
                                Téléphone de l'entreprise
                            </th>
                            <th scope="col">
                                État de la recherche
                            </th>
                            <th scope="col">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for recherche in recherches %}
					    <tr>
							<td>
                                {{recherche.etatsRecherche[0].date|date("d/m/Y H:i")}}
                            </td>

                            <td>
                                {{recherche.entreprise.nom}}
                            </td>

                            <td>
                                {{recherche.entreprise.adresse.voie}} {{recherche.entreprise.adresse.batimentResidenceZI}} {{recherche.entreprise.adresse.codePostal}} {{recherche.entreprise.adresse.commune}} 
                            </td>

                            {% if recherche.employe is not null %}
                                <td>
                                    {{recherche.employe.prenom}} {{recherche.employe.nom}}
                                </td>

                                <td>
                                    {{recherche.employe.fonction}}
                                </td>
                            {% else %}
                                <td>
                                </td>
                                <td>
                                </td>
                            {% endif %}

                            <td>
                                {{recherche.mediaContact}}
                            </td>

                            <td>
                                {{recherche.entreprise.adresseMail}}
                            </td>

                            <td>
                                {{recherche.entreprise.numeroTelephone}}
                            </td>
                            
                                {% if (recherche.etatsRecherche|last.etat) == "En attente" %}
                                    <td style="background-color:#008196;color:#FFFFFF">{{recherche.etatsRecherche|last.etat}}</td>
                                {% elseif (recherche.etatsRecherche|last.etat) == "Relancé" %}
                                    <td style="background-color:#C47F00;color:#FFFFFF">{{recherche.etatsRecherche|last.etat}}</td>
                                {% elseif (recherche.etatsRecherche|last.etat) == "Accepté" %}
                                    <td style="background-color:#189618;color:#FFFFFF">{{recherche.etatsRecherche|last.etat}}</td>
                                {% elseif (recherche.etatsRecherche|last.etat) == "Refusé" %}
                                    <td style="background-color:#CA3120;color:#FFFFFF">{{recherche.etatsRecherche|last.etat}}</td>
                                {% endif %}
                            
                            <td>
                                Voir
                                <a href="{{ path('recherche_formulaireModificationRecherche', {id: recherche.id}) }}" >
                                    <button type="button" class="btn btn-success">
                                       Modifier
                                    </button>
                                </a>
                            </td>
					    </tr>
					
				
					{% else %}
						<h3><center>Aucune recherche disponible.</center></h3>
					{% endfor %}
					</tbody>
				</table>
                
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $.fn.dataTable.moment('D/MM/YYYY HH:mm');

            $('#dataTable').DataTable( {
                "order": [[ 0, "desc" ]],
                "oLanguage": {
                    "sUrl": "/datatables/datatables.french.json"
                    }
            } );
        } );
    </script>
{% endblock %}
