{% extends 'base.html.twig' %}

{% block titrePage %}
    Journal de recherches de stage de {{etudiant.getNomComplet()}}
{% endblock %}

{% block contenu %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex flex-row mb-1 boutonsTable">
					<div class="col-md-2">
						<div class="input-group mb-2 ">
							<label class="input-group-text" for="inputGroupSelect01">Trier par :</label>
							<select class="custom-select" id="inputGroupSelect01" >
								<option value="1">chronologique</option>
								<option value="2">antéchronologique</option>
							</select>
						</div>
					</div>

					
					<div class="col-md-3">
						<div class="input-group mb-2">
							<div class="input-group mb-2 ">
							<label class="input-group-text" for="inputGroupSelect02">rechercher :</label>
							<select class="custom-select" id="inputGroupSelect02" >
								<option value="1">nom</option>
								<option value="2">adresse</option>
								<option value="2">état</option>
							</select>
							<input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
						</div>
							
						</div>
					</div>

					<div class="col-md-7">
						<a href="{{ path('recherche_formulaireAjoutRecherche') }}" >
							<button type="button" class="btn btn-success" id="boutonAjoutRecherche">
								Ajouter une recherche
							</button>
						</a>
					</div>
                </div>

                <table class="table table-striped table-bordered">
                     <thead class="thead">
                        <tr>
                            <th scope="col">
                                Date
                            </th>
                            <th scope="col">
                                Nom
                            </th>
                            <th scope="col">
                                Adresse
                            </th>
                            <th scope="col">
                                Nom
                            </th >
                            <th scope="col">
                                Fonction
                            </th>
                            <th scope="col">
                                Média
                            </th>
                            <th scope="col">
                                Mail
                            </th>
                            <th scope="col">
                                Téléphone
                            </th>
                            <th scope="col">
                                État
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for recherche in recherches %}
					    <tr>
							<td>
                                {{recherche.etatsRecherche[0].date|date("d/m/Y")}}
                            </td>
                            <td>
                                {{recherche.entreprise.nom}}
                            </td>
                            <td>
                                {{recherche.entreprise.adresse.voie}} {{recherche.entreprise.adresse.batimentResidenceZI}} {{recherche.entreprise.adresse.codePostal}} {{recherche.entreprise.adresse.commune}} 
                            </td>
                            <td>
                                {{recherche.employe.prenom}} {{recherche.employe.nom}}
                            </td>
                            <td>
                                {{recherche.employe.fonction}}
                            </td>
                            <td>
                                {{recherche.mediaContact}}
                            </td>
                            <td>
                                {{recherche.employe.adresseMail}}
                            </td>
                            <td>
                                {{recherche.employe.numeroTelephone}}
                            </td>
                                {% if (recherche.etatsRecherche[0].etat) == "En attente" %}
                                    <td style="background-color:#008196;color:#FFFFFF">{{recherche.etatsRecherche[0].etat}}</td>
                                {% elseif (recherche.etatsRecherche[0].etat) == "Relancé" %}
                                    <td style="background-color:#C47F00;color:#FFFFFF">{{recherche.etatsRecherche[0].etat}}</td>
                                {% elseif (recherche.etatsRecherche[0].etat) == "Accepté" %}
                                    <td style="background-color:#189618;color:#FFFFFF">{{recherche.etatsRecherche[0].etat}}</td>
                                {% elseif (recherche.etatsRecherche[0].etat) == "Refusé" %}
                                    <td style="background-color:#CA3120;color:#FFFFFF">{{recherche.etatsRecherche[0].etat}}</td>
                                {% endif %}
					    </tr>
					
				
					{% else %}
						<h3><center>Aucune recherche disponible.</center></h3>
					{% endfor %}
					</tbody>
				</table>
                
            </div>
        </div>
    </div>
{% endblock %}
