{% extends 'base.html.twig' %}

{% block titrePage %}
    Journal de recherches de stage de {{etudiant.getNomComplet()}}
{% endblock %}

{% block contenu %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex flex-row bd-highlight mb-3">
                    <div class="align-self-center">
                        Trier par :
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            ordre antéchronologique
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">ordre chronologique</a></li>
                        </ul>
                    </div>

                    <button type="button" class="btn btn-success">
                        Filtrer par mot clé
                    </button> 

                    <a href="/ajoutRecherche">
                        <button type="button" class="btn btn-success">
                            Ajouter une recherche
                        </button>
                    </a>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Nom
                            </th>
                            <th>
                                Adresse
                            </th>
                            <th>
                                Nom
                            </th>
                            <th>
                                Fonction
                            </th>
                            <th>
                                Média
                            </th>
                            <th>
                                Mail
                            </th>
                            <th>
                                Téléphone
                            </th>
                            <th>
                                État
                            </th>
                        </tr>
                    </thead>
                    
                    {% for recherche in recherches %}
					    <tr>
							<td>
                                {{recherche.etatsRecherche[0].date|date("d/m/Y")}}
                            </td>
                            <td>
                                {{recherche.entreprise.nom}}
                            </td>
                            <td>
                                {{recherche.entreprise.adresse.voie}} {{recherche.entreprise.adresse.batimentResidenceZI}} {{recherche.entreprise.adresse.codePostal}} {{recherche.entreprise.adresse.commune}} 
                            </td>
                            <td>
                                {{recherche.employe.prenom}} {{recherche.employe.nom}}
                            </td>
                            <td>
                                {{recherche.employe.fonction}}
                            </td>
                            <td>
                                {{recherche.mediaContact}}
                            </td>
                            <td>
                                {{recherche.employe.adresseMail}}
                            </td>
                            <td>
                                {{recherche.employe.numeroTelephone}}
                            </td>
                            <td>
                                {{recherche.etatsRecherche[0].etat}}
                            </td>
					    </tr>
					{% else %}
						<h3><center>Aucune recherche disponible.</center></h3>
					{% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}
