<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
        {% block nomPage %}
            Pistage
        {% endblock %}
        </title>

        <!-- Instruction permettant de faire du responsive -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- BLOCK DES FEUILLES DE STYLE -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/fontello/css/fontello.css') }}">
            <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('/pistage/css/pistage.css') }}">
        {% endblock %}
	</head>

    <body>
        <!-- BLOCK DU HEADER -->
        {% block header %}
            <div class="container-fluid">
                <div class="row enTete">
                    <div class="col-md-6">
                        <a href="{{ path('pistage_accueil') }}">
                            <img src="{{ asset('/img/pistage_logo_titre.jpg') }}" />
                        </a>
                    </div>
                    <div class="modal fade bd-example-modal-lglg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Les entreprises à relancer</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ul id="entrepriseARelancer">

                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
                                <a type="button" class="btn btn-primary" href="{{ path('pistage_relancesTableau') }}">afficher sur le tableau</a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 align-middle">
                        <div class="d-flex justify-content-end align-middle">
                            <div class="dropdown ">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Mon Compte
                                </button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                {% if not is_granted('ROLE_ADMIN') %}
									<li><a id="bouton_alerte" class="dropdown-item close" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Alertes</a></li>
								{% endif %}
                                    <li><a class="dropdown-item" href="{{ path('pistage_profil') }}">Profil</a></li>
									<li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
            </div>
       
        {% endblock %}

        <!-- BLOCK DU TITRE DE LA PAGE -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1><center>{% block titrePage %}{% endblock %}</center></h1> 
                    <HR>
                </div>
            </div>
        </div>
                
        <!-- BLOCK DU CONTENU -->
        {% block contenu %}
        {% endblock %}
        
        <!-- BLOCK DU PIED DE PAGE -->
        {% block footer %}
        {% endblock %}
        
        <!-- BLOCK DES SCRIPTS JAVASCRIPT -->
        {% block javascripts %}
            <script src="{{ asset('/bootstrap/js/bootstrap.bundle.min.js') }}"> </script>
            <script src="{{ asset('/jquery/js/jquery-3.6.0.min.js') }}"> </script>

            <script>
            {% if not is_granted('ROLE_ADMIN') %}
                {% if is_granted('ROLE_USER') %}
                        window.onload=function() {
                            var data = {};
                            
                            $.ajax({
                                url : "{{ path('recherche_alertes') }}",
                                type: "POST",
                                global: false,
                                data : data,
                                dataType: "json",
                                complete: function(html) {
                                    var objet =JSON.parse(JSON.stringify(html.responseJSON));
                                    var ul = document.getElementById('entrepriseARelancer');
                                    $.each(objet, function(i, obj) {
                                            var ligne =obj.date.date.split(' ')[0] + " / "+ obj[0].entreprise.nom +" / " + obj[0].entreprise.adresse.voie + " - " + obj[0].entreprise.adresse.commune;
                                            var li = document.createElement('li');
                                            li.appendChild(document.createTextNode(ligne));
                                            ul.appendChild(li);
                    
                                    });
                                }
                            });
                        };
                    
                {% endif %}
            {% else %}
            

            {% endif %}
            </script>

            
        {% endblock %}
    </body>
</html>