<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
        {% block nomPage %}
            Pistage
        {% endblock %}
        </title>

        <!-- Instruction permettant de faire du responsive -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- BLOCK DES FEUILLES DE STYLE -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('/pistage/css/pistage.css') }}">
        {% endblock %}
	</head>

    <body>
        <!-- BLOCK DU HEADER -->
        {% block header %}
            <div class="container-fluid">
                <div class="row enTete">
                    <div class="col-md-6">
                        <a href="/accueil">
                            <img src="{{ asset('/img/pistage_logo_titre.png') }}" />
                        </a>
                    </div>
                    <div class="col-md-6 align-middle">
                        <div class="d-flex justify-content-end align-middle">
                            <div class="dropdown ">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Mon Compte
                                </button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									<li><a class="dropdown-item" href="#">Alertes</a></li>
									<li><a class="dropdown-item" href="#">Profil</a></li>
									<li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
            </div>
       
        {% endblock %}

        <!-- BLOCK DES SCRIPTS JAVASCRIPT -->
        {% block javascripts %}
            <script src="{{ asset('/bootstrap/js/bootstrap.bundle.min.js') }}"> </script> 
            <script src="{{ asset('/jquery/js/jquery-3.6.0.min.js') }}"> </script>
        {% endblock %}
        </body>

        <!-- BLOCK DU TITRE DE LA PAGE -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1><center>{% block titrePage %}{% endblock %}</center></h1> 
                    <HR>
                </div>
            </div>
        </div>
                
        <!-- BLOCK DU CONTENU -->
        {% block contenu %}
        {% endblock %}
        
        <!-- BLOCK DU PIED DE PAGE -->
        {% block footer %}
        {% endblock %}
    </body>
</html>