{% extends 'base.html.twig' %}

{% block titrePage %}
    Formulaire d'ajout d'une recherche
{% endblock %}

{% block contenu %}
    <div id="chargement" style="display: none;">
        <img src="{{ asset('/img/loading.gif') }}"/>
    </div>

    <div id="contenuPage" class="container-fluid">
	    <div class="row">
            <div class="col-md-6 offset-md-3">
                    {{ form_start(vueFormulaireRecherche) }}

                    <div> <!-- Affichage du champ de sélection du média de contact de la recherche -->
                        {{form_row(vueFormulaireRecherche.mediaContact, {'label': "Média de contact"})}} <br/>
                    </div>

                    <div> <!-- Affichage du champ de saisie des observations de la recherche -->
                        {{form_row(vueFormulaireRecherche.observations, {'attr': {'placeholder': "Observations vis-à-vis de la recherche..."}}) }} <br/>
                    </div>

                    <HR>

                    <div> <!-- Affichage du champ de sélection de l'entreprise associée à la recherche -->
                        {{form_row(vueFormulaireRecherche.entreprise)}}
                    </div>

                    <br/>

                    <HR>

                    <div> <!-- Affichage du champ de sélection de l'employé associée à la recherche -->
                        {{form_row(vueFormulaireRecherche.employe)}}
                    </div>

                    <HR>

                    <div> <!-- Affichage des boutons radio de choix d'état de la recherche -->
                        {{form_row(vueFormulaireRecherche.premierEtat, {'label': 'État de la recherche'})}}
                    </div>

                    <br/>

                    <button type="submit" class="btn btn-dark">Enregistrer</button>

                    {{ form_end(vueFormulaireRecherche) }}
            </div>
	    </div>
    </div>

    <script>
        $( document ).ajaxStart(function() {
            $( "#contenuPage" ).fadeOut();
            $( "#chargement" ).fadeIn();
        });

        var $entreprise = $('#recherche_entreprise');
            $entreprise.change(function() {
            var $form = $(this).closest('form');
            var data = {};
            data[$entreprise.attr('name')] = $entreprise.val();
            
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    $('#recherche_employe').replaceWith(
                        $(html).find('#recherche_employe')
                    );

                    $( document ).ajaxStop(function() {
                        $( "#chargement" ).fadeOut();
                        $( "#contenuPage" ).fadeIn();
                    });
                }
            });
        });
    </script>
{% endblock %}


