{% extends 'base.html.twig' %}

{% block titrePage %}
    Liste des étudiants
{% endblock %}

{% block contenu %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Numéro étudiant</th>
                <th>Numéro de téléphone</th>
                <th>Adresse mail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.id }}</td>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.numeroEtudiant }}</td>
                <td>{{ etudiant.numeroTelephone }}</td>
                <td>{{ etudiant.adresseMail }}</td>
                <td>
                    <a href="{{ path('etudiant_show', {'id': etudiant.id}) }}">Voir</a>
                    <a href="{{ path('etudiant_edit', {'id': etudiant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun étudiant trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('etudiant_new') }}">Créer un nouvel étudiant</a>
{% endblock %}
